<!doctype html>
<html>
  <head><%- include('../partials/head', { title }) %></head>
  <body>
    <%- include('../partials/header') %>
    <main class="container section"><h1>Product not found</h1></main>
    <%- include('../partials/footer') %>
  </body>
</html>
