<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head') %>
</head>
<body>
<%- include('partials/header') %>
<main class="container">
<%- body %>
</main>
<%- include('partials/footer') %>
<script src="/js/contact-wizard.js" defer></script>
</body>
</html>