<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= title || 'Jay Mahalaxmi Ind. Pvt. Ltd' %></title>
<link rel="stylesheet" href="/css/style.css" />
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      integrity="sha512-XuGg1n8m2dFqYwXQX0sQy6rC4uA0YxWlI0XcR9c8Qd9L5s6w0z7yWcQw9M3y3n+8s8x9YzjvZ0o0JQd7xw3A0A=="
      crossorigin="anonymous" referrerpolicy="no-referrer">

